*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  ul{list-style: none;}
  
  .ui-tab-wrapper{
    overflow: hidden;
    width: 360px;
    margin: 0 auto;
  }
  .ui-tab-wrapper .ui-tab-head {
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
  }
  .ui-tab-wrapper .ui-tab-head li {
    flex: 0 1 auto;
    width: 60px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #ccc;
    border-bottom: none;
    background-color: #d1d1d1;
    cursor: pointer;
  }
  .ui-tab-wrapper .ui-tab-head li.active{
    background-color: #fff;
  }
  .ui-tab-body{
    width: 360px;
    height: 150px;
    line-height: 150px;
    text-align: center;
    font-size: 40px;
    border: 1px solid #d1d1d1;
    background-color: #fff;
  }
  .ui-tab-body li {
    display: none;
  }
  .ui-tab-body li.active{
    display: block;
  }
  