@charset "UTF-8";
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -webkit-text-size-adjust: none;
}

body {
  overflow-x: hidden;
  background: #fff;
  -webkit-overflow-scrolling: touch;
  font-family: Tahoma,Arial,Roboto,"Droid Sans","Helvetica Neue","Droid Sans Fallback","Heiti SC",sans-self;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  -webkit-overflow-scrolling: touch;
}

dl, ul, ol, li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #3c3c3c;
}

em, i {
  font-style: normal;
}

img {
  border: 0;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

input {
  border: none;
  outline: none;
  vertical-align: middle;
  -webkit-appearance: none;
  background-color: transparent;
}

select {
  outline: none;
  background: #fff;
  vertical-align: middle;
  -webkit-appearance: none;
}

textarea, button {
  outline: none;
  border: none;
  -webkit-appearance: none;
}

.mask {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.mask.active {
  display: block;
}

/********** 公共部分 **********/
.btn {
  background-color: #e31c23;
  height: 1.77778rem;
  line-height: 1.77778rem;
  color: #fff;
  font-size: 0.71111rem;
  border-radius: 0.13333rem;
}

.btnOrange {
  background-color: #ee891f;
}

.btnRed {
  background-color: #e31c23;
}

.btnGrey {
  background-color: #a6a6a6;
}

.banner {
  width: 100%;
  height: 9.55556rem;
  margin-bottom: 0.66667rem;
  background-size: contain;
}

.banner.offline {
  background: url(../imgs/banner-offline.jpg) no-repeat center center;
}

.banner.orderKeep {
  background: url(../imgs/banner-orderKeep.jpg) no-repeat center center;
}

.banner.orderBike {
  background: url(../imgs/banner-orderBike.jpg) no-repeat center center;
}

.filter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.66667rem;
}

.filter .filter-select {
  width: 6.66667rem;
  height: 1.55556rem;
  border: 1px solid #a3a3a3;
  padding: 0 0.44444rem;
  border-radius: 0.13333rem;
  color: #999;
  font-size: 0.53333rem;
  background: url(../imgs/icon-select.png) no-repeat 98% center;
  background-size: 0.4rem 1.06667rem;
}

main {
  padding: 0 1.11111rem;
}

/********** 主页 **********/
.login-wrap {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 13.33333rem;
  padding: 0.66667rem;
  transform: translate(-50%, -50%);
  border-radius: 0.26667rem;
  background-color: #fff;
  color: #444;
  font-size: 0.53333rem;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  z-index: 20;
}

.login-wrap.active {
  display: block;
}

.login-wrap h2 {
  font-size: 0.75556rem;
  text-align: center;
  margin-bottom: 0.44444rem;
}

.login-wrap .login-item {
  display: flex;
  width: 100%;
  height: 1.33333rem;
  line-height: 1.33333rem;
  margin-bottom: 0.44444rem;
}

.login-wrap .login-item label {
  width: 1.77778rem;
  margin-right: 0.44444rem;
  text-align: right;
}

.login-wrap .login-item input {
  width: 5.77778rem;
  height: 1.33333rem;
  padding: 0 0.22222rem;
  font-size: 0.44444rem;
  margin-right: 0.44444rem;
  border: 1px solid #ccc;
}

.login-wrap .login-item button {
  width: 3.55556rem;
  height: 1.33333rem;
  font-size: 0.53333rem;
  color: #fff;
  text-align: center;
  background-color: #e11c24;
}

.login-wrap .login-item button.active {
  background-color: #a6a6a6;
}

.login-wrap .login-polict {
  padding-left: 0.13333rem;
  margin-bottom: 0.44444rem;
}

.login-wrap .login-polict a {
  text-decoration: underline;
}

.login-wrap .login-btns {
  display: flex;
  justify-content: space-between;
}

.login-wrap .login-btns .login-btn {
  width: 5.33333rem;
  height: 1.77778rem;
  line-height: 1.77778rem;
  text-align: center;
  color: #fff;
  font-size: 0.53333rem;
  border-radius: 0.13333rem;
  background-color: #a6a6a6;
}

.login-wrap .login-btns .login-btn.submit {
  background-color: #e11c24;
}

.home-page {
  display: flex;
  flex-direction: column;
}

.home-page .swiper-container {
  width: 100%;
  height: 9.77778rem;
}

.home-page .home-page-wrapper {
  flex: 1;
}

.home-page-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 1.11111rem;
}

.home-page-wrapper .function {
  display: flex;
  height: 4.88889rem;
  justify-content: space-between;
  align-items: center;
}

.home-page-wrapper .function li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 2.66667rem;
  height: 4.88889rem;
  text-align: center;
}

.home-page-wrapper .function li a {
  display: inline-block;
  width: 2.66667rem;
  height: 2.66667rem;
}

.home-page-wrapper .function li p {
  text-align: center;
  font-size: 0.53333rem;
  margin-top: 0.22222rem;
}

.home-page-wrapper .module {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.home-page-wrapper .module li {
  width: 6.66667rem;
  height: 6.66667rem;
  margin-bottom: 0.44444rem;
}

.home-page-wrapper .module li a {
  display: block;
  width: 100%;
  height: 100%;
}

.breadCrumb {
  display: flex;
  width: 100%;
  height: 2rem;
  padding: 0 1.11111rem;
  font-size: 0.71111rem;
  text-align: center;
}

.breadCrumb .back {
  width: 0.88889rem;
  height: 2rem;
  background: url(../imgs/icon-back.png) no-repeat left center;
  background-size: 0.53333rem 0.8rem;
}

.breadCrumb p {
  margin: 0 auto;
  line-height: 2rem;
}

.event-list {
  padding: 0 1.11111rem;
}

.event-list .event-item {
  font-size: 0.53333rem;
  margin-bottom: 0.22222rem;
}

.event-list .event-item a {
  display: block;
  width: 100%;
  height: 6.66667rem;
}

.store-list {
  border-radius: 0.13333rem;
}

.store-list .store-item {
  padding: 0.22222rem 0.44444rem;
  margin-bottom: 0.66667rem;
  background-color: #e2e2e2;
  border-radius: 0.13333rem;
}

.store-list .store-item-head {
  position: relative;
  color: #6c6c6c;
  font-size: 0.53333rem;
  padding: 0.13333rem 0;
}

.store-list .store-item-head span {
  position: absolute;
  right: 0;
  top: 4px;
}

.store-list .store-item-head h2 {
  font-size: 0.71111rem;
  line-height: 1.11111rem;
  color: #3c3c3c;
}

.store-list .store-item-head p {
  line-height: 0.88889rem;
}

.store-list .store-item-bot {
  display: flex;
  height: 1.11111rem;
  padding: 0.13333rem 0;
  border-top: 2px solid #fff;
  font-size: 0.57778rem;
  color: #3c3c3c;
}

.store-list .store-item-bot > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.3%;
  border-right: 2px solid #fff;
}

.store-list .store-item-bot > div i, .store-list .store-item-bot > div a {
  display: inline-block;
  color: #3c3c3c;
}

.store-list .store-item-bot > div i {
  width: 0.53333rem;
  height: 0.97778rem;
  margin-right: 0.35556rem;
}

.store-list .store-item-bot > div.map i {
  background: url(../imgs/icon-map.png) no-repeat center center;
  background-size: contain;
}

.store-list .store-item-bot > div.call i {
  background: url(../imgs/icon-call.png) no-repeat center center;
  background-size: contain;
}

.store-list .store-item-bot > div.order i {
  background: url(../imgs/icon-order.png) no-repeat center center;
  background-size: contain;
}

.store-list .store-item-bot > div:last-child {
  border-right: none;
}

.orderWrap p {
  font-size: 0.53333rem;
  color: #444;
  margin-bottom: 0.26667rem;
}

.orderWrap select {
  width: 100%;
  height: 1.55556rem;
  padding: 0 0.44444rem;
  border: 1px solid #a3a3a3;
  border-radius: 0.13333rem;
  text-align: center;
  color: #999;
  font-size: 0.53333rem;
  background: url(../imgs/icon-select.png) no-repeat 98% center;
  background-size: 0.4rem 1.06667rem;
}

.orderWrap input {
  height: 1.55556rem;
  line-height: 1.55556rem;
  border: 1px solid #a3a3a3;
  border-radius: 0.13333rem;
  color: #999;
  font-size: 0.53333rem;
}

.orderWrap textarea {
  width: 100%;
  height: 4rem;
  padding: 0.22222rem 0.44444rem;
  font-size: 0.53333rem;
  text-align: left;
  resize: none;
  color: #999;
  border: 1px solid #a3a3a3;
}

.orderWrap .orderItem {
  margin-bottom: 0.66667rem;
}

.orderWrap .orderItem.orderFlex {
  display: flex;
  justify-content: space-between;
}

.orderWrap .orderItem.orderFlex .bicycleCate {
  width: 5.11111rem;
}

.orderWrap .orderItem.orderFlex .orderTime {
  width: 8rem;
}

.orderWrap .orderItem.orderFlex .orderTimeWrap {
  display: flex;
  justify-content: space-around;
}

.orderWrap .orderItem.orderFlex .orderTimeWrap input {
  flex: none;
  padding: 0 0.22222rem;
  margin-right: 0.44444rem;
  background: url(../imgs/icon-select.png) no-repeat 98% center;
  background-size: 0.4rem 1.06667rem;
}

.orderWrap .orderItem.orderFlex .orderTimeWrap input:first-child {
  width: 4.88889rem;
}

.orderWrap .orderItem.orderFlex .orderTimeWrap input:last-child {
  width: 3.11111rem;
  margin-right: 0;
}

.orderWrap .orderItemWrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.orderWrap .orderItemWrap select, .orderWrap .orderItemWrap input {
  flex: 1;
  padding: 0 0.44444rem;
}

.orderWrap .orderItemWrap input, .orderWrap .orderItemWrap select {
  margin-right: 0.44444rem;
}

.orderWrap .orderItemWrap input:last-child, .orderWrap .orderItemWrap select:last-child {
  margin-right: 0;
}

.orderWrap .orderItemWrap.iconSelect input {
  background: url(../imgs/icon-select.png) no-repeat 98% center;
  background-size: 0.4rem 1.06667rem;
}

.orderWrap .orderItemWrap.view {
  display: flex;
  justify-content: space-between;
}

.orderWrap .orderItemWrap.view button {
  width: 5.33333rem;
  height: 1.55556rem;
  line-height: 1.55556rem;
  text-align: center;
  color: #fff;
  font-size: 0.53333rem;
  border-radius: 0.13333rem;
  background-color: #a9a9a9;
}

.orderWrap .orderOperate {
  text-align: center;
  margin-bottom: 0.66667rem;
}

.orderWrap .orderOperate .orderBtn {
  display: inline-block;
  width: 6.66667rem;
  height: 1.77778rem;
  line-height: 1.77778rem;
  color: #fff;
  font-size: 0.71111rem;
  border-radius: 0.13333rem;
}

.orderWrap .orderOperate .orderBtn#order {
  padding: 0.22222rem 0;
}

.orderWrap .orderOperate .orderBtn#order p {
  color: #fff;
  height: 0.88889rem;
  line-height: 0.88889rem;
  margin-bottom: 0;
}

.orderWrap .orderOperate .orderBtn#order p:last-child {
  line-height: 20px;
  font-size: 0.35556rem;
}

.orderWrap .orderExtra p {
  font-size: 0.44444rem;
  margin-bottom: 0;
}

.navigation {
  width: 13.77778rem;
  height: 13.77778rem;
  border: 1px solid #ccc;
  margin-bottom: 0.66667rem;
}

.doMore {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.doMore a {
  width: 9.77778rem;
  height: 1.77778rem;
  line-height: 1.77778rem;
  background-color: #e2e2e2;
  text-align: center;
  color: #0f0f0f;
  font-size: 0.71111rem;
  border-radius: 0.13333rem;
  margin-bottom: 0.66667rem;
}

.avatar {
  text-align: center;
  margin-bottom: 0.44444rem;
}

.avatar img {
  width: 5.55556rem;
  height: 5.55556rem;
  border: 1px solid #7f7f7f;
  border-radius: 50%;
}

.avatar p {
  font-size: 0.53333rem;
}

.personal {
  padding: 0 2.66667rem;
  font-size: 0.53333rem;
  color: #555;
}

.personal .personal-info .login-no {
  display: flex;
  margin-bottom: 0.44444rem;
}

.personal .personal-info .login-no .btn {
  flex: 1;
  width: 40%;
  text-align: center;
  margin-right: 0.44444rem;
}

.personal .personal-info .login-no .btn:last-child {
  margin-right: 0;
}

.personal .personal-info .login-yes p {
  height: 1.11111rem;
  line-height: 1.11111rem;
  border: 1px solid #cecece;
  text-align: center;
  margin-bottom: 0.66667rem;
  border-radius: 0.13333rem;
}

.personal .person-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.personal .person-list li {
  margin-bottom: 0.44444rem;
}

.personal .person-list li a {
  display: block;
  width: 5.11111rem;
  height: 5.11111rem;
  line-height: 4.88889rem;
  border-radius: 0.44444rem;
  text-align: center;
  border: 1px solid #7f7f7f;
}

.information-list {
  font-size: 0.53333rem;
  color: #444;
}

.information-list select {
  flex: 1;
  height: 1.55556rem;
  padding: 0 0.44444rem;
  border: 1px solid #a3a3a3;
  border-radius: 0.13333rem;
  text-align: center;
  color: #999;
  font-size: 0.53333rem;
  background: url(../imgs/icon-select.png) no-repeat 98% center;
  background-size: 0.4rem 1.06667rem;
}

.information-list input {
  flex: 1;
  height: 1.55556rem;
  padding: 0 0.44444rem;
  border: 1px solid #a3a3a3;
  border-radius: 0.13333rem;
  color: #999;
  font-size: 0.53333rem;
}

.information-list input.birthday {
  background: url(../imgs/icon-select.png) no-repeat 98% center;
}

.information-list .information-item {
  display: flex;
  margin-bottom: 0.66667rem;
}

.information-list .information-item span {
  width: 1.77778rem;
  line-height: 1.55556rem;
}

.information-list .information-item span.special {
  line-height: 0.77778rem;
}

.information-list .information-item button {
  flex: 1;
  background-color: #e31c23;
  height: 1.77778rem;
  line-height: 1.77778rem;
  color: #fff;
  font-size: 0.71111rem;
  border-radius: 0.13333rem;
}

.operateBtns {
  display: flex;
  width: 100%;
}

.operateBtns button {
  flex: 1;
  margin-right: 0.66667rem;
}

.operateBtns button:last-child {
  margin-right: 0;
}
