@charset "UTF-8";
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -webkit-text-size-adjust: none;
}

body {
  overflow-x: hidden;
  background: #fff;
  -webkit-overflow-scrolling: touch;
  font-family: "Microsoft Yahei",Arial,sans-serif;
}

dl, ul, ol, li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

a {
  text-decoration: none;
}

em, i {
  font-style: normal;
}

img {
  border: 0;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

input {
  border: none;
  outline: none;
  vertical-align: middle;
}

select {
  outline: none;
  background: #fff;
  vertical-align: middle;
}

/********** 公共部分 **********/
.banner {
  width: 100%;
  height: 9.55556rem;
  margin-bottom: 0.66667rem;
  background-size: contain;
}

.banner.offline {
  background: url(../imgs/banner-offline.jpg) no-repeat center center;
}

.filter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.66667rem;
}

.filter .filter-select {
  height: 1.33333rem;
  border: 1px solid #d0d0d0;
  padding: 0 1.33333rem;
  border-radius: 0.13333rem;
  text-align: center;
  color: #999;
  font-size: 0.53333rem;
}

.filter.filter-column2 .filter-select {
  width: 6.66667rem;
}

main {
  padding: 0 50px;
}

/********** 主页 **********/
.home-page {
  display: flex;
  flex-direction: column;
}

.home-page .swiper-container {
  width: 100%;
  height: 9.77778rem;
}

.home-page .home-page-wrapper {
  flex: 1;
}

.home-page-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 1.11111rem;
}

.home-page-wrapper .function {
  display: flex;
  height: 4.88889rem;
  justify-content: space-between;
  align-items: center;
}

.home-page-wrapper .function li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 2.66667rem;
  height: 4.88889rem;
  text-align: center;
}

.home-page-wrapper .function li a {
  display: inline-block;
  width: 2.66667rem;
  height: 2.66667rem;
}

.home-page-wrapper .function li p {
  text-align: center;
  font-size: 0.53333rem;
  margin-top: 0.22222rem;
}

.home-page-wrapper .module {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.home-page-wrapper .module li {
  width: 6.66667rem;
  height: 6.66667rem;
  margin-bottom: 0.44444rem;
}

.home-page-wrapper .module li a {
  display: block;
  width: 100%;
  height: 100%;
}

.breadCrumb {
  display: flex;
  width: 100%;
  height: 2rem;
  padding: 0 1.11111rem;
  font-size: 0.71111rem;
  text-align: center;
}

.breadCrumb .back {
  width: 0.88889rem;
  height: 2rem;
  background: url(../imgs/icon-back.png) no-repeat left center;
}

.breadCrumb p {
  margin: 0 auto;
  line-height: 2rem;
}

.event-list {
  padding: 0 1.11111rem;
}

.event-list .event-item {
  font-size: 0.53333rem;
  margin-bottom: 0.22222rem;
}

.event-list .event-item a {
  display: block;
  width: 100%;
  height: 6.66667rem;
}

.store-list {
  border-radius: 0.13333rem;
}

.store-list .store-item {
  padding: 0.22222rem 0.44444rem;
  margin-bottom: 0.66667rem;
  background-color: #e2e2e2;
  border-radius: 0.13333rem;
}

.store-list .store-item-head {
  position: relative;
  color: #6c6c6c;
  font-size: 0.53333rem;
  padding: 0.13333rem 0;
}

.store-list .store-item-head span {
  position: absolute;
  right: 0;
  top: 4px;
}

.store-list .store-item-head h2 {
  font-size: 0.71111rem;
  line-height: 1.11111rem;
  color: #3c3c3c;
}

.store-list .store-item-head p {
  line-height: 0.88889rem;
}

.store-list .store-item-bot {
  display: flex;
  height: 1.11111rem;
  padding: 0.13333rem 0;
  border-top: 2px solid #fff;
  font-size: 0.57778rem;
  color: #3c3c3c;
}

.store-list .store-item-bot > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.3%;
  border-right: 2px solid #fff;
}

.store-list .store-item-bot > div i, .store-list .store-item-bot > div span {
  display: inline-block;
}

.store-list .store-item-bot > div i {
  width: 0.53333rem;
  height: 0.97778rem;
  margin-right: 0.35556rem;
}

.store-list .store-item-bot > div.map i {
  background: url(../imgs/icon-map.png) no-repeat center center;
  background-size: contain;
}

.store-list .store-item-bot > div.call i {
  background: url(../imgs/icon-call.png) no-repeat center center;
  background-size: contain;
}

.store-list .store-item-bot > div.order i {
  background: url(../imgs/icon-order.png) no-repeat center center;
  background-size: contain;
}

.store-list .store-item-bot > div:last-child {
  border-right: none;
}
