* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  -webkit-text-size-adjust: none;
}

body {
  overflow-x: hidden;
  height: 100%;
  background: #fff;
  -webkit-overflow-scrolling: touch;
  font-family: Tahoma,Arial,Roboto,"Droid Sans","Helvetica Neue","Droid Sans Fallback","Heiti SC",sans-self;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  -webkit-overflow-scrolling: touch;
}

dl, ul, ol, li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #3c3c3c;
}

em, i {
  font-style: normal;
}

img {
  border: 0;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

input {
  border: none;
  outline: none;
  vertical-align: middle;
  -webkit-appearance: none;
  background-color: transparent;
}

select {
  outline: none;
  background: #fff;
  vertical-align: middle;
  -webkit-appearance: none;
}

textarea, button {
  outline: none;
  border: none;
  -webkit-appearance: none;
}

.mask {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.mask.active {
  display: block;
}

main {
  padding: 0 1.11111rem;
}

.btn {
  background-color: #e31c23;
  height: 1.77778rem;
  line-height: 1.77778rem;
  color: #fff;
  font-size: 0.71111rem;
  border-radius: 0.13333rem;
}

.btnOrange {
  background-color: #ee891f;
}

.btnRed {
  background-color: #e31c23;
}

.btnGrey {
  background-color: #a6a6a6;
}

.breadCrumb {
  display: flex;
  width: 100%;
  height: 2rem;
  padding: 0 1.11111rem;
  font-size: 0.71111rem;
  text-align: center;
}

.breadCrumb .back {
  width: 0.88889rem;
  height: 2rem;
  background: url(../imgs/icon-back.png) no-repeat left center;
  background-size: 0.53333rem 0.8rem;
}

.breadCrumb p {
  margin: 0 auto;
  line-height: 2rem;
}

.banner {
  width: 100%;
  height: 9.6rem;
  margin-bottom: 0.42667rem;
  background-size: contain;
}

.banner.offline {
  background: url(../imgs/banner-offline.jpg) no-repeat center center;
}

.banner.orderKeep {
  background: url(../imgs/banner-orderKeep.jpg) no-repeat center center;
}

.banner.orderBike {
  background: url(../imgs/banner-orderBike.jpg) no-repeat center center;
}

.ui-dialog-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
}

.ui-dialog-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 13.33333rem;
  padding: 0.74667rem;
  border-radius: 0.53333rem;
  color: #000;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.3);
}

.ui-dialog-wrapper.animate {
  animation: dialogScale .5s;
}

.ui-dialog-wrapper .ui-dialog-header {
  margin-bottom: 0.85333rem;
}

.ui-dialog-wrapper .ui-dialog-header p {
  font-size: 0.74667rem;
  text-align: center;
}

.ui-dialog-wrapper .ui-dialog-content {
  margin-bottom: 0.85333rem;
}

.ui-dialog-wrapper .ui-dialog-content p {
  font-size: 0.58667rem;
  line-height: 1.5;
  text-align: center;
}

.ui-dialog-wrapper .ui-dialog-bottom {
  display: flex;
  justify-content: space-around;
}

.ui-dialog-wrapper .ui-dialog-bottom .ui-dialog-btn {
  width: 5.12rem;
  height: 1.70667rem;
  line-height: 1.70667rem;
  color: #fff;
  text-align: center;
  font-size: 0.74667rem;
  border-radius: 0.21333rem;
}

.ui-dialog-wrapper .ui-dialog-bottom .ui-dialog-btn.ui-dialog-btn-red {
  background-color: #e11c24;
}

.ui-dialog-wrapper .ui-dialog-bottom .ui-dialog-btn.ui-dialog-btn-grey {
  background-color: #a6a6a6;
}

@keyframes dialogScale {
  0% {
    transform: translate(-50%, -50%) scale(0, 0);
  }
  100% {
    transform: translate(-50%, -50%) scale(1, 1);
  }
}

.dialog-test {
  display: flex;
}

.dialog-test li {
  flex: 1;
  height: 1.92rem;
  line-height: 1.92rem;
  background-color: #0ff;
  margin-right: 0.42667rem;
  font-size: 30px;
  text-align: center;
}

.login-wrap {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 13.33333rem;
  padding: 0.66667rem;
  transform: translate(-50%, -50%);
  border-radius: 0.26667rem;
  background-color: #fff;
  color: #444;
  font-size: 0.53333rem;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  z-index: 20;
}

.login-wrap.active {
  display: block;
}

.login-wrap h2 {
  font-size: 0.75556rem;
  text-align: center;
  margin-bottom: 0.44444rem;
}

.login-wrap .login-item {
  display: flex;
  width: 100%;
  height: 1.33333rem;
  line-height: 1.33333rem;
  margin-bottom: 0.44444rem;
}

.login-wrap .login-item label {
  width: 1.77778rem;
  margin-right: 0.44444rem;
  text-align: right;
}

.login-wrap .login-item input {
  width: 5.77778rem;
  height: 1.33333rem;
  padding: 0 0.22222rem;
  font-size: 0.44444rem;
  margin-right: 0.44444rem;
  border: 1px solid #ccc;
}

.login-wrap .login-item button {
  width: 3.55556rem;
  height: 1.33333rem;
  font-size: 0.53333rem;
  color: #fff;
  text-align: center;
  background-color: #e11c24;
}

.login-wrap .login-item button.active {
  background-color: #a6a6a6;
}

.login-wrap .login-polict {
  padding-left: 0.13333rem;
  margin-bottom: 0.44444rem;
}

.login-wrap .login-polict a {
  text-decoration: underline;
}

.login-wrap .login-btns {
  display: flex;
  justify-content: space-between;
}

.login-wrap .login-btns .login-btn {
  width: 5.33333rem;
  height: 1.77778rem;
  line-height: 1.77778rem;
  text-align: center;
  color: #fff;
  font-size: 0.53333rem;
  border-radius: 0.13333rem;
  background-color: #a6a6a6;
}

.login-wrap .login-btns .login-btn.submit {
  background-color: #e11c24;
}

.home-page {
  display: flex;
  flex-direction: column;
}

.home-page .swiper-container {
  width: 100%;
  height: 7.78667rem;
}

.home-page .swiper-container .swiper-slide {
  color: red;
}

.home-page .home-page-wrapper {
  flex: 1;
}

.home-page-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 1.216rem;
}

.home-page-wrapper .function {
  display: flex;
  padding: 0.64rem 0;
  justify-content: space-between;
  align-items: center;
}

.home-page-wrapper .function li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.home-page-wrapper .function li a {
  display: inline-block;
  width: 2.41067rem;
  height: 2.41067rem;
}

.home-page-wrapper .function li p {
  text-align: center;
  font-size: 0.512rem;
  margin-top: 0.21333rem;
}

.home-page-wrapper .module {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.home-page-wrapper .module li {
  width: 6.67733rem;
  height: 6.67733rem;
  margin-bottom: 0.21333rem;
}

.home-page-wrapper .module li a {
  display: block;
  width: 100%;
  height: 100%;
}

.event-list {
  padding: 0 0.128rem;
}

.event-list .event-item {
  margin-bottom: 0.21333rem;
}

.event-list .event-item a {
  display: block;
  width: 100%;
  height: 6.67733rem;
}

.event-list .event-item p, .event-list .event-item span {
  font-size: 0.512rem;
  line-height: 0.74667rem;
}

.events .breadCrumb {
  padding: 0 0.21333rem;
}

.orderWrap p {
  font-size: 0.53333rem;
  color: #444;
  margin-bottom: 0.26667rem;
}

.orderWrap select {
  width: 100%;
  height: 1.55556rem;
  padding: 0 0.44444rem;
  border: 1px solid #a3a3a3;
  border-radius: 0.13333rem;
  text-align: center;
  color: #999;
  font-size: 0.53333rem;
  background: url(../imgs/icon-select.png) no-repeat 98% center;
  background-size: 0.4rem 1.06667rem;
}

.orderWrap input {
  height: 1.55556rem;
  line-height: 1.55556rem;
  border: 1px solid #a3a3a3;
  border-radius: 0.13333rem;
  color: #999;
  font-size: 0.53333rem;
}

.orderWrap textarea {
  width: 100%;
  height: 4rem;
  padding: 0.22222rem 0.44444rem;
  font-size: 0.53333rem;
  text-align: left;
  resize: none;
  color: #999;
  border: 1px solid #a3a3a3;
}

.orderWrap .orderItem {
  margin-bottom: 0.66667rem;
}

.orderWrap .orderItem.orderFlex {
  display: flex;
  justify-content: space-between;
}

.orderWrap .orderItem.orderFlex .bicycleCate {
  width: 5.11111rem;
}

.orderWrap .orderItem.orderFlex .orderTime {
  width: 8rem;
}

.orderWrap .orderItem.orderFlex .orderTimeWrap {
  display: flex;
  justify-content: space-around;
}

.orderWrap .orderItem.orderFlex .orderTimeWrap input {
  flex: none;
  padding: 0 0.22222rem;
  margin-right: 0.44444rem;
  background: url(../imgs/icon-select.png) no-repeat 98% center;
  background-size: 0.4rem 1.06667rem;
}

.orderWrap .orderItem.orderFlex .orderTimeWrap input:first-child {
  width: 4.88889rem;
}

.orderWrap .orderItem.orderFlex .orderTimeWrap input:last-child {
  width: 3.11111rem;
  margin-right: 0;
}

.orderWrap .orderItemWrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.orderWrap .orderItemWrap select, .orderWrap .orderItemWrap input {
  flex: 1;
  padding: 0 0.44444rem;
}

.orderWrap .orderItemWrap input, .orderWrap .orderItemWrap select {
  margin-right: 0.44444rem;
}

.orderWrap .orderItemWrap input:last-child, .orderWrap .orderItemWrap select:last-child {
  margin-right: 0;
}

.orderWrap .orderItemWrap.iconSelect input {
  background: url(../imgs/icon-select.png) no-repeat 98% center;
  background-size: 0.4rem 1.06667rem;
}

.orderWrap .orderItemWrap.view {
  display: flex;
  justify-content: space-between;
}

.orderWrap .orderItemWrap.view button {
  width: 5.33333rem;
  height: 1.55556rem;
  line-height: 1.55556rem;
  text-align: center;
  color: #fff;
  font-size: 0.53333rem;
  border-radius: 0.13333rem;
  background-color: #a9a9a9;
}

.orderWrap .orderOperate {
  text-align: center;
  margin-bottom: 0.66667rem;
}

.orderWrap .orderOperate .orderBtn {
  display: inline-block;
  width: 6.66667rem;
  height: 1.77778rem;
  line-height: 1.77778rem;
  color: #fff;
  font-size: 0.71111rem;
  border-radius: 0.13333rem;
}

.orderWrap .orderOperate .orderBtn#order {
  padding: 0.22222rem 0;
}

.orderWrap .orderOperate .orderBtn#order p {
  color: #fff;
  height: 0.88889rem;
  line-height: 0.88889rem;
  margin-bottom: 0;
}

.orderWrap .orderOperate .orderBtn#order p:last-child {
  line-height: 20px;
  font-size: 0.35556rem;
}

.orderWrap .orderExtra p {
  font-size: 0.44444rem;
  margin-bottom: 0;
}

.navigation {
  width: 13.77778rem;
  height: 13.77778rem;
  border: 1px solid #ccc;
  margin-bottom: 0.66667rem;
}

.doMore {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.doMore a {
  width: 9.77778rem;
  height: 1.77778rem;
  line-height: 1.77778rem;
  background-color: #e2e2e2;
  text-align: center;
  color: #0f0f0f;
  font-size: 0.71111rem;
  border-radius: 0.13333rem;
  margin-bottom: 0.66667rem;
}

.store-list .store-item {
  padding: 0.22222rem 0.44444rem;
  margin-bottom: 0.66667rem;
  background-color: #e2e2e2;
  border-radius: 0.13333rem;
}

.store-list .store-item-head {
  position: relative;
  color: #6c6c6c;
  font-size: 0.53333rem;
  padding: 0.13333rem 0;
}

.store-list .store-item-head span {
  position: absolute;
  right: 0;
  top: 4px;
}

.store-list .store-item-head h2 {
  font-size: 0.71111rem;
  line-height: 1.11111rem;
  color: #3c3c3c;
}

.store-list .store-item-head p {
  line-height: 0.88889rem;
}

.store-list .store-item-bot {
  display: flex;
  height: 1.11111rem;
  padding: 0.13333rem 0;
  border-top: 2px solid #fff;
  font-size: 0.57778rem;
  color: #3c3c3c;
}

.store-list .store-item-bot > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.3%;
  border-right: 2px solid #fff;
}

.store-list .store-item-bot > div i, .store-list .store-item-bot > div a {
  display: inline-block;
  color: #3c3c3c;
}

.store-list .store-item-bot > div i {
  width: 0.53333rem;
  height: 0.97778rem;
  margin-right: 0.35556rem;
}

.store-list .store-item-bot > div.map i {
  background: url(../imgs/icon-map.png) no-repeat center center;
  background-size: contain;
}

.store-list .store-item-bot > div.call i {
  background: url(../imgs/icon-call.png) no-repeat center center;
  background-size: contain;
}

.store-list .store-item-bot > div.order i {
  background: url(../imgs/icon-order.png) no-repeat center center;
  background-size: contain;
}

.store-list .store-item-bot > div:last-child {
  border-right: none;
}

.filter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.66667rem;
}

.filter .filter-select {
  width: 6.66667rem;
  height: 1.55556rem;
  border: 1px solid #a3a3a3;
  padding: 0 0.44444rem;
  border-radius: 0.13333rem;
  color: #999;
  font-size: 0.53333rem;
  background: url(../imgs/icon-select.png) no-repeat 98% center;
  background-size: 0.4rem 1.06667rem;
}

.bike-register {
  padding-top: 0.42667rem;
}

.bike-register .img {
  width: 100%;
  height: 14.50667rem;
  background: url("../imgs/bike-register.png") no-repeat center center;
}

.bike-register .desc {
  padding: 0 1.92rem;
  margin-top: 0.53333rem;
  margin-bottom: 1.06667rem;
  font-size: 0.42667rem;
  line-height: 1.5;
}

.bike-register .desc p.suggest {
  color: #e11c24;
}

.bike-register .scan-bar {
  padding: 0 2.56rem;
  margin-bottom: 1.6rem;
}

.bike-register .scan-bar p {
  padding: 0 2.56rem;
  font-size: 0.64rem;
  text-align: center;
  margin-bottom: 0.21333rem;
}

.bike-register .scan-bar .scan {
  display: flex;
}

.bike-register .scan-bar .scan input {
  flex: 1;
  height: 1.28rem;
  padding: 0 0.21333rem;
  font-size: 0.42667rem;
  border: 1px solid #b6b6b6;
  border-radius: 0.21333rem;
  margin-right: 0.85333rem;
}

.bike-register .scan-bar .scan span {
  width: 0.93867rem;
  height: 1.28rem;
  background: url(../imgs/scan.png) no-repeat center center;
  background-size: cover;
}

.bike-register .bike-register-btns {
  padding: 0 1.92rem;
  display: flex;
  justify-content: space-around;
}

.bike-register .bike-register-btns button {
  width: 45%;
  height: 1.70667rem;
  line-height: 1.70667rem;
  color: #fff;
  font-size: 0.64rem;
  text-align: center;
  border-radius: 0.128rem;
}

.score-wrap {
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.score-wrap .breadCrumb {
  padding-left: 0.42667rem;
}

.score-wrap .score-view {
  position: relative;
  width: 100%;
  height: 2.13333rem;
  padding-left: 0.42667rem;
}

.score-wrap .score-view p {
  font-size: 0.64rem;
  line-height: 1.6rem;
}

.score-wrap .score-view .score-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 5.12rem;
  height: 1.6rem;
  line-height: 1.6rem;
  background-color: #e11c24;
  color: #fff;
  font-size: 0.64rem;
  text-align: center;
  border-radius: 0.21333rem 0 0 0.21333rem;
}

.score-wrap .score-record {
  flex: 1;
  padding: 0.42667rem 0.96rem;
  font-size: 0.42667rem;
  background: #f0f0f0;
}

.score-wrap .score-record p {
  position: relative;
  margin-bottom: 0.66133rem;
}

.score-wrap .score-record p span {
  position: absolute;
  right: 0;
}

.my-order-swiper {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 2.34667rem;
}

.my-order-swiper .swiper-slide {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.my-order-item {
  display: flex;
  width: 100%;
  height: 3.73333rem;
  padding: 0.42667rem 0;
  margin-bottom: 0.64rem;
  font-size: 0.64rem;
  text-align: center;
  border-radius: 0.21333rem;
  color: #000;
  background-color: #f0f0f0;
}

.my-order-item.invalid {
  color: #ccc;
}

.my-order-item .my-order-type {
  width: 25%;
  line-height: 2.88rem;
  border-right: 4px solid #fff;
}

.my-order-item .my-order-info {
  width: 50%;
  font-size: 0.42667rem;
  line-height: 1.5;
  border-right: 4px solid #fff;
}

.my-order-item .my-order-info .my-order-info-wrap {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.my-order-item .my-order-status {
  width: 25%;
  line-height: 2.88rem;
}

.my-order-bullets {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 1.70667rem;
  font-size: 0.74667rem;
}

.my-order-bullets .my-order-bullet {
  flex: 1;
  height: 1.70667rem;
  border-bottom: 0.23467rem solid #f0f0f0;
}

.my-order-bullets .my-order-bullet-active {
  border-bottom: 0.23467rem solid #cc1a2b;
}

.my-card-item {
  display: flex;
  width: 100%;
  height: 3.73333rem;
  padding: 0.42667rem 0;
  margin-bottom: 0.64rem;
  font-size: 0.64rem;
  text-align: center;
  border-radius: 0.21333rem;
  color: #000;
  background-color: #f0f0f0;
}

.my-card-item.invalid {
  color: #ccc;
  cursor: pointer;
}

.my-card-item .my-card-info {
  width: 75%;
  border-right: 4px solid #fff;
}

.my-card-item .my-card-info .my-card-info-wrap {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.my-card-item .my-card-info .my-card-info-wrap h2 {
  font-size: 0.64rem;
}

.my-card-item .my-card-info .my-card-info-wrap p {
  font-size: 0.42667rem;
  line-height: 1.5;
}

.my-card-item .my-card-status {
  width: 25%;
  line-height: 2.88rem;
}

.avatar {
  text-align: center;
  margin-bottom: 0.44444rem;
}

.avatar img {
  width: 5.55556rem;
  height: 5.55556rem;
  border: 1px solid #7f7f7f;
  border-radius: 50%;
}

.avatar p {
  font-size: 0.53333rem;
}

.personal {
  padding: 0 2.66667rem;
  font-size: 0.53333rem;
  color: #555;
}

.personal .personal-info .login-no {
  display: flex;
  margin-bottom: 0.44444rem;
}

.personal .personal-info .login-no .btn {
  flex: 1;
  width: 40%;
  text-align: center;
  margin-right: 0.44444rem;
}

.personal .personal-info .login-no .btn:last-child {
  margin-right: 0;
}

.personal .personal-info .login-yes p {
  height: 1.11111rem;
  line-height: 1.11111rem;
  border: 1px solid #cecece;
  text-align: center;
  margin-bottom: 0.66667rem;
  border-radius: 0.13333rem;
}

.personal .person-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.personal .person-list li {
  margin-bottom: 0.44444rem;
}

.personal .person-list li a {
  display: block;
  width: 5.11111rem;
  height: 5.11111rem;
  line-height: 4.88889rem;
  border-radius: 0.44444rem;
  text-align: center;
  border: 1px solid #7f7f7f;
}

.information-list {
  font-size: 0.53333rem;
  color: #444;
}

.information-list select {
  flex: 1;
  height: 1.55556rem;
  padding: 0 0.44444rem;
  border: 1px solid #a3a3a3;
  border-radius: 0.13333rem;
  text-align: center;
  color: #999;
  font-size: 0.53333rem;
  background: url(../imgs/icon-select.png) no-repeat 98% center;
  background-size: 0.4rem 1.06667rem;
}

.information-list input {
  flex: 1;
  height: 1.55556rem;
  padding: 0 0.44444rem;
  border: 1px solid #a3a3a3;
  border-radius: 0.13333rem;
  color: #999;
  font-size: 0.53333rem;
}

.information-list input.birthday {
  background: url(../imgs/icon-select.png) no-repeat 98% center;
}

.information-list .information-item {
  display: flex;
  margin-bottom: 0.66667rem;
}

.information-list .information-item span {
  width: 1.77778rem;
  line-height: 1.55556rem;
}

.information-list .information-item span.special {
  line-height: 0.77778rem;
}

.information-list .information-item button {
  flex: 1;
  background-color: #e31c23;
  height: 1.77778rem;
  line-height: 1.77778rem;
  color: #fff;
  font-size: 0.71111rem;
  border-radius: 0.13333rem;
}

.operateBtns {
  display: flex;
  width: 100%;
}

.operateBtns button {
  flex: 1;
  margin-right: 0.66667rem;
}

.operateBtns button:last-child {
  margin-right: 0;
}
