*{margin:0; padding:0; box-sizing: border-box;}
ul,ol{list-style: none;}
a{text-decoration: none;}
.wrap{
    width: 600px;
    height: 200px;
    padding: 20px;
    border: 3px solid #666;
    margin: 0 auto;
}
.wrap a{
    display: inline-block;
    margin: 0 10px;
}
.fade-enter,
.fade-leave-to{
    opacity: 0;
}
.fade-enter-active,
.fade-leave-active{
    transition: opacity 2s;
}
.desc{
    width: 600px;
    margin: 0 auto;
    line-height: 32px;
}
.desc p{
    text-indent: 2em;
}