<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>组件（数据传递）</title>
    <script src="vue.js"></script>
</head>
<body>
    <div id="app">
        <child :my-name="name" :my-age="age"></child>
    </div>
    <script type="text/x-template" id="child">
        <div class="child">
            <h3>子组件child数据</h3>
            <ul>
                <li><label>姓名：<span>{{myName}}</span></label></li>
                <li><label>年龄：<span>{{myAge}}</span></label></li>
            </ul>
        </div>
    </script>
    <script>
        let parent = new Vue({
            el: "#app",
            data: {
                 name: "xusf",
                 age: 28
            },
            components: {
                "child": {
                    "template": "#child",
                    "props": ["myName", "myAge"]
                }
            }
        })
    </script>
</body>
</html>