<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/dialog.css">
    <title>移动端原生JS弹框组件</title>
</head>
<body>
    <!-- 这里直接将遮罩与弹框写在一起 -->
    <div class="ui-dialog-mask">
        <div class="ui-dialog-wrapper">
            <div class="ui-dialog-header">
                <p>预约成功，请等待店面联系确认</p>
            </div>
            <div class="ui-dialog-content">
                <p>查询预约保养状态及积分变更，请前往个人中心</p>
            </div>
            <div class="ui-dialog-bottom">
                <div class="ui-dialog-btn ui-dialog-btn-red">首页</div>
                <div class="ui-dialog-btn ui-dialog-btn-grey">个人中心</div>
            </div>
        </div>
    </div>
</body>
</html>