@charset "utf-8";* {
    margin: 0;
    padding: 0
}

html {
    height: 100%
}

body {
    height: 100%;
    background: url(../images/shouye_nvsheng_bg.png);
    background-size: 100% 100%
}

#header img {
    width: 100%
}

.swiper-container {
    width: 100%;
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    -ms-perspective: 1200px;
    perspective: 1200px
}

.swiper-wrapper {
    /* margin-top: 10px */
}

.swiper-slide {
    width: 80%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d
}

.swiper-slide .main-img {
    width: 80%;
    margin: 0 auto;
    display: block
}

