// 预约保养/预约试骑
.orderWrap{
    p{
        font-size: 24px/$ppr;
        color: #444;
        margin-bottom: 12px/$ppr;
    }
    select{
        width: 100%;
        height: 70px/$ppr;
        padding: 0 20px/$ppr;
        border: 1px solid #a3a3a3;
        border-radius: 6px/$ppr;
        text-align: center;
        color: #999;
        font-size: 24px/$ppr;
        background: url(../imgs/icon-select.png) no-repeat 98% center;
        background-size: 18px/$ppr 48px/$ppr;
    }
    input{
        height: 70px/$ppr;
        line-height: 70px/$ppr;
        border: 1px solid #a3a3a3;
        border-radius: 6px/$ppr;
        color: #999;
        font-size: 24px/$ppr;
    }
    textarea {
        width: 100%;
        height: 180px/$ppr;
        padding: 10px/$ppr 20px/$ppr;
        font-size: 24px/$ppr;
        text-align: left;
        resize: none;
        color: #999;
        border: 1px solid #a3a3a3;
    }
    
    .orderItem{
        margin-bottom: 30px/$ppr;
    }
    // 保养车型与保养时间
    .orderItem.orderFlex{
        display: flex;
        justify-content: space-between;
        .bicycleCate{
            width: 230px/$ppr;
        }
        .orderTime{
            width: 360px/$ppr;
        }
        .orderTimeWrap{
            display: flex;
            justify-content: space-around;
            input{
                flex: none;
                padding: 0 10px/$ppr;
                margin-right: 20px/$ppr;
                background: url(../imgs/icon-select.png) no-repeat 98% center;
                background-size: 18px/$ppr 48px/$ppr;
            }
            input:first-child{width: 220px/$ppr;}
            input:last-child{
                width: 140px/$ppr;
                margin-right: 0;
            }
        }
    }
    // 联系方式
    .orderItemWrap{
        display: flex;
        justify-content: space-between;
        width: 100%;
        select, input{
            flex: 1;
            padding: 0 20px/$ppr;
        }
        input, select{
            margin-right: 20px/$ppr;
        }
        input:last-child,select:last-child{margin-right: 0;}
        &.iconSelect input{
            background: url(../imgs/icon-select.png) no-repeat 98% center;
            background-size: 18px/$ppr 48px/$ppr;
        }
        // 车型信息查看
        &.view {
            display: flex;
            justify-content: space-between;
            button {
                width: 240px/$ppr;
                height: 70px/$ppr;
                line-height: 70px/$ppr;
                text-align: center;
                color: #fff;
                font-size: 24px/$ppr;
                border-radius: 6px/$ppr;
                background-color: #a9a9a9;
            }
        }
    }
    // 按钮
    .orderOperate{
        text-align: center;
        margin-bottom: 30px/$ppr;
        .orderBtn{
            display: inline-block;
            width: 300px/$ppr;
            height: 80px/$ppr;
            line-height: 80px/$ppr;
            color: #fff;
            font-size: 32px/$ppr;
            border-radius: 6px/$ppr;
            &#order{
                padding: 10px/$ppr 0;
                p{
                    color: #fff;
                    height: 40px/$ppr;
                    line-height: 40px/$ppr;
                    margin-bottom: 0;
                }
                p:last-child{
                    line-height: 20px;
                    font-size: 16px/$ppr;
                }
            }
        }
    }
    // 其他信息
    .orderExtra{
        p {
            font-size: 20px/$ppr;
            margin-bottom: 0;
        }
    }
}
// 预约首页
.navigation {
    width: 620px/$ppr;
    height: 620px/$ppr;
    border: 1px solid #ccc;
    margin-bottom: 30px/$ppr;
}
.doMore{
    display: flex;
    flex-direction: column;
    align-items: center;
    a {
        width: 440px/$ppr;
        height: 80px/$ppr;
        line-height: 80px/$ppr;
        background-color: #e2e2e2;
        text-align: center;
        color:#0f0f0f;
        font-size: 32px/$ppr;
        border-radius: 6px/$ppr;
        margin-bottom: 30px/$ppr;
    }
}