@charset "UTF-8";
// // 公共
// @import "common";
// // 主页
// @import "homePage";

// 样式重置
*{box-sizing: border-box;-webkit-tap-highlight-color: transparent; -webkit-box-sizing: border-box; margin:0; padding: 0;}
html{
    // height:100%;
    -webkit-text-size-adjust:none;
}
body {overflow-x: hidden; 
    // height:100%; 
    background: #fff; 
    -webkit-overflow-scrolling: touch;
    // font-family: "Microsoft Yahei",Arial,sans-serif;
    font-family:Tahoma,Arial,Roboto,"Droid Sans","Helvetica Neue","Droid Sans Fallback","Heiti SC",sans-self;
    -webkit-font-smoothing:antialiased;
    -webkit-user-select:none;

    -webkit-overflow-scrolling:touch;
}
dl,ul,ol,li {list-style: none;}
h1,h2,h3,h4,h5,h6{font-weight: normal;}
a{text-decoration:none;}
em,i{font-style: normal;}
img {border: 0;vertical-align: middle; width: 100%; height: 100%;}
input{ border:none;outline: none;vertical-align: middle; -webkit-appearance: none;background-color: transparent;}
// ::-webkit-input-placeholder {color: #ccc;}
select{outline: none; background: #fff; vertical-align: middle;-webkit-appearance: none;}
textarea,button{outline: none; border: none;-webkit-appearance: none;}


// 变量
$ppr: 720px/16/1rem;

/********** 公共部分 **********/
// 按钮颜色
.btnOrange{background-color: #ee891f;}
.btnRed{background-color: #e31c23;}
// banner
.banner{
    width: 100%;
    height: 430px/$ppr;
    margin-bottom: 30px/$ppr;
    background-size: contain;
}
.banner.offline{
    background: url(../imgs/banner-offline.jpg) no-repeat center center;
}
.banner.orderKeep{
    background: url(../imgs/banner-orderKeep.jpg) no-repeat center center;
}
.banner.orderBike{
    background: url(../imgs/banner-orderBike.jpg) no-repeat center center;
}
// 筛选
.filter{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px/$ppr;
    .filter-select{
        width: 300px/$ppr;
        height: 70px/$ppr;
        border: 1px solid #a3a3a3;
        padding: 0 20px/$ppr;
        border-radius: 6px/$ppr;
        color: #999;
        font-size: 24px/$ppr;
        background: url(../imgs/icon-select.png) no-repeat 98% center;
        background-size: 18px/$ppr 48px/$ppr;
    }
}

// 混合
@mixin radius {
    
}
// 布局
header{

}
main{
    padding: 0 50px/$ppr;
}

/********** 主页 **********/
.home-page {
    display: flex;
    flex-direction: column;
    .swiper-container {
        width: 100%;
        height: 440px/$ppr;
        .swiper-slide {

        }
    }
    .home-page-wrapper{
        flex: 1;
    }
}

.home-page-wrapper{
    display: flex;
    flex-direction: column;
    padding: 0 50px/$ppr;
    .function {
        display: flex;
        height: 220px/$ppr;
        justify-content: space-between;
        align-items: center;
        li {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 120px/$ppr;
            height: 220px/$ppr;
            text-align: center;
            a{
                display: inline-block;
                width: 120px/$ppr;
                height: 120px/$ppr;
            }
            p{
                text-align: center;
                font-size: 24px/$ppr;
                margin-top: 10px/$ppr;
            }
        }
    }
    .module {
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
        li{
            width: 300px/$ppr;
            height: 300px/$ppr;
            margin-bottom: 20px/$ppr;
            a{
                display: block;
                width: 100%;
                height: 100%;
            }
        }
    }
}

// 骑行活动页
// 面包屑导航
.breadCrumb{
    display: flex;
    width: 100%;
    height: 90px/$ppr;
    padding: 0 50px/$ppr;
    font-size: 32px/$ppr;
    text-align: center;
    .back{
        width: 40px/$ppr;
        height: 90px/$ppr;
        background: url(../imgs/icon-back.png) no-repeat left center;
        background-size: 24px/$ppr 36px/$ppr;
    }
    p{
        margin: 0 auto;
        line-height: 90px/$ppr;
    }
}
.event-list{
    padding: 0 50px/$ppr;
    .event-item {
        font-size: 24px/$ppr;
        margin-bottom: 10px/$ppr;
        a{
            display: block;
            width: 100%;
            height: 300px/$ppr;
        }
       
    }
}



// 线下门店
.store-list{
    border-radius: 6px/$ppr;
    .store-item{
        padding: 10px/$ppr 20px/$ppr;
        margin-bottom: 30px/$ppr;
        background-color: #e2e2e2;
        border-radius: 6px/$ppr;
    }
    .store-item-head{
        position: relative;
        color: #6c6c6c;
        font-size: 24px/$ppr;
        padding: 6px/$ppr 0;
        span{
            position: absolute;
            right: 0;
            top: 4px;
        }
        h2{
            font-size: 32px/$ppr;
            line-height: 50px/$ppr;
            color: #3c3c3c;
        }
        p{
            line-height: 40px/$ppr;
        }
    }
    .store-item-bot{
        display: flex;
        height: 50px/$ppr;
        padding: 6px/$ppr 0;
        border-top: 2px solid #fff;
        font-size: 26px/$ppr;
        color: #3c3c3c;
        & > div{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 33.3%;
            border-right: 2px solid #fff;
            i,a{
                display: inline-block;
                color: #3c3c3c;
            }
            i{
                width: 24px/$ppr;
                height: 44px/$ppr;
                margin-right: 16px/$ppr;
            }
            &.map i{
                background: url(../imgs/icon-map.png) no-repeat center center;
                background-size: contain;
            }
            &.call i{
                background: url(../imgs/icon-call.png) no-repeat center center;
                background-size: contain;
            }
            &.order i{
                background: url(../imgs/icon-order.png) no-repeat center center;
                background-size: contain;
            }
        }
        & > div:last-child{
            border-right: none;
        }
    }
}

// 预约保养/预约试骑
.orderWrap{
    p{
        font-size: 24px/$ppr;
        color: #444;
        margin-bottom: 12px/$ppr;
    }
    select{
        width: 100%;
        height: 70px/$ppr;
        padding: 0 20px/$ppr;
        border: 1px solid #a3a3a3;
        border-radius: 6px/$ppr;
        text-align: center;
        color: #999;
        font-size: 24px/$ppr;
        background: url(../imgs/icon-select.png) no-repeat 98% center;
        background-size: 18px/$ppr 48px/$ppr;
    }
    input{
        height: 70px/$ppr;
        line-height: 70px/$ppr;
        border: 1px solid #a3a3a3;
        border-radius: 6px/$ppr;
        color: #999;
        font-size: 24px/$ppr;
    }
    textarea {
        width: 100%;
        height: 180px/$ppr;
        padding: 10px/$ppr 20px/$ppr;
        font-size: 24px/$ppr;
        text-align: left;
        resize: none;
        color: #999;
        border: 1px solid #a3a3a3;
    }
    
    .orderItem{
        margin-bottom: 30px/$ppr;
    }
    // 保养车型与保养时间
    .orderItem.orderFlex{
        display: flex;
        justify-content: space-between;
        .bicycleCate{
            width: 230px/$ppr;
        }
        .orderTime{
            width: 360px/$ppr;
        }
        .orderTimeWrap{
            display: flex;
            justify-content: space-around;
            input{
                flex: none;
                padding: 0 10px/$ppr;
                margin-right: 20px/$ppr;
                background: url(../imgs/icon-select.png) no-repeat 98% center;
                background-size: 18px/$ppr 48px/$ppr;
            }
            input:first-child{width: 220px/$ppr;}
            input:last-child{
                width: 140px/$ppr;
                margin-right: 0;
            }
        }
    }
    // 联系方式
    .orderItemWrap{
        display: flex;
        justify-content: space-between;
        width: 100%;
        select, input{
            flex: 1;
            padding: 0 20px/$ppr;
        }
        input, select{
            margin-right: 20px/$ppr;
        }
        input:last-child,select:last-child{margin-right: 0;}
        &.iconSelect input{
            background: url(../imgs/icon-select.png) no-repeat 98% center;
            background-size: 18px/$ppr 48px/$ppr;
        }
        // 车型信息查看
        &.view {
            display: flex;
            justify-content: space-between;
            button {
                width: 240px/$ppr;
                height: 70px/$ppr;
                line-height: 70px/$ppr;
                text-align: center;
                color: #fff;
                font-size: 24px/$ppr;
                border-radius: 6px/$ppr;
                background-color: #a9a9a9;
            }
        }
    }
    // 按钮
    .orderOperate{
        text-align: center;
        margin-bottom: 30px/$ppr;
        .orderBtn{
            display: inline-block;
            width: 300px/$ppr;
            height: 80px/$ppr;
            line-height: 80px/$ppr;
            color: #fff;
            font-size: 32px/$ppr;
            border-radius: 6px/$ppr;
            &#order{
                padding: 10px/$ppr 0;
                p{
                    color: #fff;
                    height: 40px/$ppr;
                    line-height: 40px/$ppr;
                    margin-bottom: 0;
                }
                p:last-child{
                    line-height: 20px;
                    font-size: 16px/$ppr;
                }
            }
        }
    }
    // 其他信息
    .orderExtra{
        p {
            font-size: 20px/$ppr;
            margin-bottom: 0;
        }
    }
}
// 预约首页
.navigation {
    width: 620px/$ppr;
    height: 620px/$ppr;
    border: 1px solid #ccc;
    margin-bottom: 30px/$ppr;
}
.doMore{
    display: flex;
    flex-direction: column;
    align-items: center;
    a {
        width: 440px/$ppr;
        height: 80px/$ppr;
        line-height: 80px/$ppr;
        background-color: #e2e2e2;
        text-align: center;
        color:#0f0f0f;
        font-size: 32px/$ppr;
        border-radius: 6px/$ppr;
        margin-bottom: 30px/$ppr;
    }
}