body{
    background-color: #ddd;
}
.stuWrap{
    overflow: hidden;
    width:480px;
    margin: 100px auto;
    line-height: 40px;
    text-align: center;
}
.stuInfo{
    float: left;
    width:360px;
}
.stuSelect{
    float: left;
    width:120px;
    background-color: #edecec;
}
.stuInfo .stuTit{
    overflow: hidden;
}
.stuInfo .stuTit span{
    float: left;
    width:120px;
    height:40px;
    border:1px solid #eee;
}
.stuInfo .stuTit span:nth-child(2),
.stuInfo .stuTit span:nth-child(3){
    border-left:none;
}
.stuInfo .stuItem{
    float: left;
    width:120px;
    height:40px;
}

.stuSelect ul{
    display: none;
}
.stuSelect .name{
    position: relative;
    cursor: pointer;
}
.stuSelect .name:after{
    position: absolute;
    right:8px;
    top:50%;
    margin-top:-5px;
    content: '';
    width:0;
    height:0;
    border-top:8px solid darkgrey;
    border-right:8px solid transparent;
    border-bottom:8px solid transparent;
    border-left:8px solid transparent;
}
.stuSelectBox{

}

.stuSelectBox li{
    cursor: pointer;
}
.stuSelectBox li:hover{
    background-color: #fff;
}
