@charset "UTF-8";

.answer{
  width: 100%;
  background: #fff;
  box-shadow: 0 0 5px 0 rgba(58,115,211,.2);
  -webkit-box-shadow: 0 0 5px 0 rgba(58,115,211,.2);
  font-size: 26px/$ppr;
  color: #999;
  &.active{
    display: block;
  }
  .answerin{
    position: relative;
    width: 100%;
    padding: 0 30px/$ppr;
    .anupd{
      position: absolute;
      left: 50%;
      top: -40px/$ppr;
      margin-left: -60px/$ppr;
      width: 120px/$ppr;
      height: 40px/$ppr;
      border-radius: 4px/$ppr 4px/$ppr 0 0;
      -webkit-border-radius: 4px/$ppr 4px/$ppr 0 0;
      background: #EFEFF4 url(../images/pra_down_h.png) no-repeat center center;
      background-size: 52px/$ppr 25px/$ppr;
      -webkit-background-size: 52px/$ppr 25px/$ppr;
    }
    .answer_con{
      overflow: hidden;
      width:100%;
      height: 102px/$ppr;
      padding: 0 30px/$ppr;
      border-bottom:1px solid #D1D5D7;
      .answerBox{
        float: left;
        display: flex;
        display: -webkit-flex;
        align-items: center;
        -webkit-align-items: center;
        width: 210px/$ppr;
        height: 102px/$ppr;
        span{
          width: 120px/$ppr;
        }
        .radio{
          width: 60px/$ppr;
          height: 60px/$ppr;
          text-align: center;
          line-height: 58px/$ppr;
          color: #fff;
          font-size: 30px/$ppr;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          &.correct{
            background-color: #24aec5;
            box-shadow: 0 0 20px/$ppr 0 rgba(36,174,197,.5);
            -webkit-box-shadow: 0 0 20px/$ppr 0 rgba(36,174,197,.5);
          }
          &.mine{
            background-color: #F77C99;
            box-shadow: 0 0 20px/$ppr 0 rgba(247,124,153,.5);
            -webkit-box-shadow: 0 0 20px/$ppr 0 rgba(247,124,153,.5);
          }
        }
      }
    }
    .answer_zd{
      padding: 25px/$ppr 30px/$ppr;
      li{
        position: relative;
        width:100%;
        min-height: 48px/$ppr;
        line-height: 48px/$ppr;
        padding-left: 190px/$ppr;
        color: #24aec5;
        .tip{
          position: absolute;
          left: 0;
          top: 0;
          padding-left: 36px/$ppr;
          color: #999999;
          width: 200px/$ppr;
          height: 48px/$ppr;
          &.zs{
            background: url(../images/zs.png) no-repeat left center;
            background-size: 19px/$ppr 21px/$ppr;
            -webkit-background-size: 19px/$ppr 21px/$ppr;
          }
          &.nl{
            background: url(../images/nl.png) no-repeat left center;
            background-size: 21px/$ppr 20px/$ppr;
            -webkit-background-size: 21px/$ppr 20px/$ppr;
          }
        }
      }
    }

  }
  .goNext{
    width: 100%;
    height: 80px/$ppr;
    line-height: 80px/$ppr;
    text-align: center;
    color: #fff;
    background-color: #2eb5cb;
    font-size: 36px/$ppr;
    letter-spacing: 0.1rem;
  }
}
.finishBox{
    display: none;
    position: fixed;
    left:50%;
    top:50%;
    transform: translate(-50%, -60%);
    -webkit-transform: translate(-50%, -60%);
    z-index: 100;
    width: 630px/$ppr;
    padding: 0 20px/$ppr 80px/$ppr 20px/$ppr;
    border-radius: 14px/$ppr;
    -webkit-border-radius: 14px/$ppr;
    background-color: #fff;
    .head{
      width: 100%;
      height: 90px/$ppr;
      border-bottom:2px solid #efefef;
    }
    .mid{
      width:100%;
      height:360px/$ppr;
      display: flex;
      display: -webkit-flex;
      align-items: center;
      -webkit-align-items: center;
      justify-content: center;
      -webkit-justify-content: center;
      .midInner{
        text-align: center;
        .stress{
          color: #fddc56;
          font-size: 80px/$ppr;
          letter-spacing: 0.2rem;
        }
        p{
          color: #666;
          font-size: 40px/$ppr;
          margin-top: 16px/$ppr;
        }
      }
    }
    .bot{
      position: absolute;
      left:0;
      bottom:0;
      width:100%;
      height: 80px/$ppr;
      line-height: 80px/$ppr;
      font-size: 32px/$ppr;
      text-align: center;
      border-radius: 0 0 14px/$ppr 14px/$ppr;
      -webkit-border-radius: 0 0 14px/$ppr 14px/$ppr;
      color: #fff;
      background-color: #29aec5;
      overflow: hidden;
      span{
        float: left;
        width: 50%;
        height: 100%;
      }
      .quit{
        border-right: 1px solid #eee;
      }
    }
  }
.finishBoxMask{
  display: none;
  position: fixed;
  left:50%;
  top:50%;
  transform: translate(-50%, -60%);
  -webkit-transform: translate(-50%, -60%);
  z-index: 1000;
  width: 680px/$ppr;
  height: 640px/$ppr;
  background: url("../images/advanceFinish.png") no-repeat left top;
  background-size: 688px/$ppr 396px/$ppr;
  -webkit-background-size: 688px/$ppr 396px/$ppr;
  #finish{
    position:absolute;
    width:100%;
    height:100px/$ppr;
    bottom:30px/$ppr;
    overflow: hidden;
    #quit,#again{
      float: left;
      width:50%;
      height:100%;
    }
  }
}